<div style="text-align: center">
  <img
    src="../assets/logo.png"
    alt="LCO Logo"
    width="100"
    height="100"
    class="logo"
  />
  <h1 class="app-title">LCO To Do List</h1>
</div>
<div class="container">
  Add a todo...
  <br />
  <input
    type="text"
    class="input-text"
    placeholder="Type a to do"
    [(ngModel)]="todoValue"
    (keyup.enter)="addItem()"
  />
  <button class="add-btn" (click)="addItem()">Add To Do</button>
  <div class="list">
    <ul>
      <li *ngFor="let item of list">
        <input type="checkbox" name="isDone" [(ngModel)]="item.isDone" />
        {{ item.value }}
        <button class="btn" (click)="deleteItem(item.id)">Delete</button>
      </li>
    </ul>
  </div>
</div>
